<nav>
  <div class="nav-wrapper">
    <a href="/" class="left brand-logo">The Super Star Galaxy</a>
    <a href="#" data-activates="mobileNav" class="right button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobileNav">
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
